#root folder
.vs/


# Minecraft CIAC folder

MinecraftCIAC/UserDB.txt
MinecraftCIAC/bin/
MinecraftCIAC/obj/
MinecraftCIAC/EvolutionDB/Candidates
MinecraftCIAC/Results/Users
MinecraftCIAC/App_Data

# Simulator folder
malmoTestAgentInterface/bin/
malmoTestAgentInterface/obj/
malmoTestAgentInterface/.vs/

#ignore db
MinecraftCIAC\App_Data